<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
  
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>
  
 
<script>
//map function for rendering location on results page in a google map
function createMap(id, latX, latY) {
      var mapProp= {
        center:new google.maps.LatLng(latX, latY),
        zoom:15,
      };
    new google.maps.Map(document.getElementById(id), mapProp);
  }
function createMaps() {
    createMap('map1', 47.608638, -122.340138);
    createMap('googleMap2', 47.443638, -122.300444);

    </script>

  <main id="main-content">
    <h2>Results for <%= cases[0].country %></h2>
    <% cases.forEach(data => {%>
        <p>Date <%= data.date %></p>
        <p>Confirmed Cases <%= data.confirmed %></p>
        <%})%>
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>