<!DOCTYPE html>
<html lang="en-us">

<head>

    <%- include('../layout/head') %>

</head>

<body>
    <header id="header">

        <%- include('../layout/header') %>

    </header>


  </header>
  
 
<script>
//map function for rendering location on results page in a google map
function createMap(id, latX, latY) {
      var mapProp= {
        center:new google.maps.LatLng(latX, latY),
        zoom:15,
      };
    new google.maps.Map(document.getElementById(id), mapProp);
  }
function createMaps() {
    createMap('map1', 47.608638, -122.340138);
    createMap('googleMap2', 47.443638, -122.300444);

    </script>


    <main id="main-content">
        <h2>Results for <%= country %></h2>
       <form action="" id="query">
           <input type="hidden" name="country" value="<%= country %>">
           <input type="hidden" name="startDate" value="<%= startDate %>">
           <input type="hidden" name="endDate" value="<%= endDate %>">
       </form>
        <canvas id="line-chart" width="800" height="450"></canvas>
    </main>

    <footer id="footer">

        <%- include('../layout/footer') %>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/chart.js"></script>
</body>

</html>